<header *ngIf="header">
  <div class="header-background">
    <div class="header-section">
      <div class="header-headline">
        <h1 class="mat-display-1 siteTitle" [innerText]="header.title"></h1>
        <h2 [innerText]="header.subtitle" *ngIf="header.subtitle"></h2>
      </div>
      <div class="header-start" *ngIf="header.button.action">
        <button mat-raised-button [routerLink]="[header.button.action]" [innerText]="header.button.label"></button>
      </div>
    </div>
  </div>
</header>
