@import '../../assets/scss/variables.scss';

.siteTitle {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.header-section {
  text-align: center;
  padding-top: 10rem;
  padding-bottom: 3rem;
}
.header-background {
  overflow: hidden;
  background: $primary;
}
.header-headline {
  color: rgba(255, 255, 255, 0.87);
}
.header-start {
  color: $primary;
}
