.siteTitle {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.header-card-container {
  padding-top: 10rem;
  padding-bottom: 3rem;
  margin: 0 auto;
  width: 80%;
}
.header-card {
  background: #673ab7;
  color: rgba(255, 255, 255, 0.87) !important;
}
.valign-center {
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
  padding-bottom: 1rem;
}
.header-section {
  text-align: center;
  padding-top: 10rem;
  padding-bottom: 3rem;
}
.header-background {
  overflow: hidden;
  background: #673ab7;
}
.header-headline {
  color: rgba(255, 255, 255, 0.87);
}
.header-start {
  color: #673ab7;
}
