.news-card {
  width: 18rem;
  display: inline-block;
  margin-right: 1rem;
  margin-bottom: 1rem;
  vertical-align: top;
  text-align: left;
}
.news-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
.footer-text {
  padding-left: 0.5rem;
}
