<mat-toolbar color="primary" class="mat-elevation-z6">

    <mat-toolbar-row >
      <button [@navbarBump]="bump" mat-button class="title-center" [routerLink]="['main/home']">Legal Site</button>
    </mat-toolbar-row>

    <mat-toolbar-row [@navbarFade]="state">
      <button mat-button [routerLink]="['/main/contact']">Contatti</button>
      <button mat-button [routerLink]="['/main/about']">Chi siamo</button>
    </mat-toolbar-row>

  <!--<button mat-icon-button [mat-menu-trigger-for]="menu">
    <mat-icon>more_vert</mat-icon>
  </button> -->
</mat-toolbar>
<!-- <mat-menu x-position="before" #menu="matMenu">
  <button mat-menu-item>Option 1</button>
  <button mat-menu-item>Option 2</button>
</mat-menu> -->
