mat-toolbar-row {
  width: 80%;
  margin: 0 auto;
}
.example-fill-remaining-space {
  // This fills the remaining space, by using flexbox.
  // Every toolbar row uses a flexbox row layout.
  flex: 1 1 auto;
}
.title-center {
  margin: 0 auto;
}
