<mat-toolbar color="primary" class="mat-elevation-z6">
  <div class="button-row" [routerLink]="['main/home']">
    <button mat-button >Legal Site</button>
  </div>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

  <div class="button-row">
    <button mat-button [routerLink]="['/main/contact']">Contatti</button>
    <button mat-button [routerLink]="['/main/about']">Chi siamo</button>
  </div>
  <!--<button mat-icon-button [mat-menu-trigger-for]="menu">
    <mat-icon>more_vert</mat-icon>
  </button> -->
</mat-toolbar>
<!-- <mat-menu x-position="before" #menu="matMenu">
  <button mat-menu-item>Option 1</button>
  <button mat-menu-item>Option 2</button>
</mat-menu> -->
