<header>
  <div class="header-background">
    <div class="header-section">
      <div class="header-headline">
        <h1 class="mat-display-1 siteTitle">Legal Site</h1>
        <h2>legal stuffs..</h2>
      </div>
      <div class="header-start">
        <button mat-raised-button>go somewhere</button>
      </div>
    </div>
  </div>
</header>

<div class="homepage-promo">
  <div class="row">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas
      aliquam sem nulla, ut tristique sapien laoreet vitae. Aliquam interdum
    id mauris vitae ornare. Fusce et faucibus magna, vitae tristique mi.
     Pellentesque eu laoreet massa. Duis sit amet odio sapien. Phasellus
    porttitor magna quis purus finibus fermentum. Pellentesque dignissim sed
     tellus in malesuada.</p>

    <p>Suspendisse volutpat aliquet risus sed luctus. In hac habitasse platea
       dictumst. Nullam sed nulla a lacus congue iaculis quis ultrices justo.
    Praesent imperdiet tortor in molestie dignissim. Quisque sed iaculis
     tellus, ac fermentum tellus. Ut fringilla turpis eget augue consectetur,
    vel venenatis ex condimentum. Nunc maximus justo eget leo volutpat
     imperdiet. Fusce semper lacinia purus non sollicitudin. Mauris et
    nunc a mauris congue mollis. Proin volutpat hendrerit felis,
     non ultrices eros vehicula sed.
      Vestibulum vulputate ante vel convallis mollis.
    Nunc dignissim, sem quis dictum lacinia, dui lectus posuere ex,
     eget venenatis velit elit eu dolor.</p>
  </div>

</div>

<app-fab-button
[color]="'primary'" [title]="'Contatta'"
[action]="'/main/contact'" [icon]="'mode_edit circle'">
</app-fab-button>
