<div class="demo-grid-list">
  <mat-card>
    <mat-card-title>Aree di intervento</mat-card-title>
    <mat-card-subtitle>Cose che facciamo</mat-card-subtitle>
    <mat-card-content class="demo-basic-list">
      <mat-grid-list cols="3" rowHeight="2:1" gutterSize="1rem">
        <mat-grid-tile *ngFor="let tail of tails">
          <mat-grid-tile-header>
            <mat-icon mat-grid-avatar [innerText]="tail.icon"></mat-icon>
            <h2 class="mat-display-2" [innerText]="tail.title"></h2>
          </mat-grid-tile-header>
          <p [innerText]="tail.text"></p>
          <mat-grid-tile-footer>
            <a href="#"><p>dettagli..</p></a>
          </mat-grid-tile-footer>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
    <mat-card-footer *ngIf="loading">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>
</div>




<app-fab-button [color]="'primary'" [title]="'Contatta'"
[action]="'/main/contact'" [icon]="'mode_edit circle'"></app-fab-button>
