<header>
  <div class="header-background">
    <div class="header-section">
      <div class="header-headline">
        <h1 class="mat-display-1">Legal Site</h1>
        <h2 class="mat-h2">legal stuffs..</h2>
      </div>
      <div class="header-start">
        <button mat-raised-button>go somewhere</button>
      </div>
    </div>
  </div>
</header>

<div class="homepage-promo">
  <div class="row">
    <h4 class="mat-h4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas aliquam sem nulla, ut tristique sapien laoreet vitae. Aliquam interdum</h4>
    <h4 class="mat-h4">id mauris vitae ornare. Fusce et faucibus magna, vitae tristique mi. Pellentesque eu laoreet massa. Duis sit amet odio sapien. Phasellus</h4>
    <h4 class="mat-h4">porttitor magna quis purus finibus fermentum. Pellentesque dignissim sed tellus in malesuada.</h4>

    <h4 class="mat-h4">Suspendisse volutpat aliquet risus sed luctus. In hac habitasse platea dictumst. Nullam sed nulla a lacus congue iaculis quis ultrices justo.</h4>
    <h4 class="mat-h4">Praesent imperdiet tortor in molestie dignissim. Quisque sed iaculis tellus, ac fermentum tellus. Ut fringilla turpis eget augue consectetur,</h4>
    <h4 class="mat-h4">vel venenatis ex condimentum. Nunc maximus justo eget leo volutpat imperdiet. Fusce semper lacinia purus non sollicitudin. Mauris et</h4>
    <h4 class="mat-h4">nunc a mauris congue mollis. Proin volutpat hendrerit felis, non ultrices eros vehicula sed. Vestibulum vulputate ante vel convallis mollis.</h4>
    <h4 class="mat-h4">Nunc dignissim, sem quis dictum lacinia, dui lectus posuere ex, eget venenatis velit elit eu dolor.</h4>
  </div>

</div>

<!-- <mat-card>
  <button mat-button>All</button>
  <button mat-raised-button>Of</button>
  <button mat-raised-button color="primary">The</button>
  <button mat-raised-button color="accent">Buttons</button>
</mat-card>

<span class="done">
  <button mat-fab>
    <mat-icon>check circle</mat-icon>
  </button>
</span> -->
